.title {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-top: 70px;
  margin-bottom: 70px;
  font-weight: 400;
  margin-right: 80%;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.985);
  color: #5894ae;
  font-weight: 300;
  display: flex;
  justify-content: left;
  font-size: 55px;
  text-shadow: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.spinner {
  display: flex;
  margin-top: 200px;
  justify-content: center;
}

.selectors {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #5894ae;
  background-color: rgba(255, 255, 255, 0.45);
}

.selectors select {
  font-size: large;
  font-family: "Montserrat", sans-serif;
  padding-left: 10px;
  border: none;
  border-radius: 18px;
  color: white;
  background-color: rgba(88, 148, 174, 0.9);
  height: 35px;
  width: auto;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.cont {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.boton {
  align-items: center;
  margin-left: 40px;
  height: 40px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 95%;
  border-radius: 18px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  color: #5894ae;
  border: none;
}

.boton:hover {
  font-size: large;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.5s ease;
}

.searchbar {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

input {
  padding-left: 15px;
  margin-left: 40px;
  height: 40px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.95);
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  font-size: 95%;
  border-radius: 18px;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); */
  color: #5894ae;
  border: none;
}
input::placeholder {
  padding-left: 10px;
  color: #5894ae;
  font-family: "Montserrat", sans-serif;
}

.searchbar {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;

  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.45);
}

.boton2 {
  align-items: center;
  margin-left: 5px;
  height: 40px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 95%;
  border-radius: 18px;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); */
  color: #5894ae;
  border: none;
}

.boton2:hover {
  font-size: large;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.5s ease;
}
.containerC {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

  font-family: "Montserrat", sans-serif;
  padding: 40px;
  padding-bottom: 20px;

  width: 30%;
  height: auto;
  border-radius: 20px;
  margin: 50px;
  margin-left: 30%;
  align-self: center;
  border: none;

}
.contarnerC label {
  display: inline-block;
        width: 500px;
        text-align: right;
}
.containerC input {
  font-weight: bold;
  
  background-color: white;
  width: 300px;
  text-align: center;
  
  padding: 5px 10px;
}

.containerD {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;

  width: 30%;
  height: auto;
  border-radius: 20px;
  margin: 50px;
  margin-left: 30%;
  align-items: center;
  border: none;
}
.containerD:hover {
  background-color: rgba(255, 255, 255, 0.975);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.45);

  transition: 0.85s ease-in-out;
}

.containerD img {
  display: flex;
  align-content: center;
  padding-left: 5%;
  padding-top: 5%;
  max-width: 90%;
  height: auto;
  border-radius: 35px;
}

.containerD button {
  display: flex;
  justify-content: space-around;
  margin-left: 40%;

  height: 30px;
  width: 100px;
  background-color: #5894ae;
  text-align: center;
  padding-top: 5px;

  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 95%;
  border-radius: 18px;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); */
  color: white;
  border: none;
}

.loading {
  margin-left: 150px;
  margin-right: 150px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 18px;
  font-family: "Montserrat", sans-serif;

  color: white;
  font-size: 150px;
}
